
.header {
    width: 100%;
    background-color: rgb(70, 86, 116);
   }

   .header .h1{
       width: 175px;
       height: 100px;

   }

   /* .header .fas{
    margin-right: 1000px;
} */

   .header .h2{
       float: right;
       width: 100px;
       height: 100px;
   }

   /* .header .n{
    float: right;
    /* padding-top: 300px */
    /* width: 50px;
    height: 50px;
   } */ */

   .header .tete{
     padding-top: 30px;
     text-align: center;
   }

body{
    /* position: absolute; */
}

@media(min-width: 768px) and (max-width: 1388px){
.header{
        width :100% ;
        padding :0px ;
        height: 150px;
}

.header .h1{
  width :100px ;
  padding :0px ;

}

.header .h2{
  width :100px ;
  padding :0px ;

}

.menu1{
  width :180px ; 
  height: 620px;
  padding-bottom: 50px ;
  top: 205px;
  /* margin-right: 54px; */
  float: left;
  /* position: fixed; */
  /* position: absolute; */
  background-color: rgb(70, 86, 116);
   }

#menu-accordeon {
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;
    width: 180px;
  }

  #menu-accordeon ul {
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;
    width: 180px;
  }
  #menu-accordeon li {
     background-color:#729EBF; 
     background-image:-webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
     background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
     border-radius: 6px;
     margin-bottom:2px;
     box-shadow: 3px 3px 3px #999;
     border:solid 1px #333A40;
     
  }

  #menu-accordeon li li {
     max-height:0;
     overflow: hidden;
     transition: all .5s;
     border-radius:0;
     background: #444;
     box-shadow: none;
     border:none;
     margin:0
  }
  #menu-accordeon a {
    display:block;
    text-decoration: none;
    color: #fff;
    padding: 8px 0;
    font-family: verdana;
    font-size:1.2em
  }
  #menu-accordeon ul li a, #menu-accordeon li:hover li a {
    font-size:1em
  }
  #menu-accordeon li:hover {
     background: #729EBF
  }
  #menu-accordeon li li:hover {
     background: #999;
  }
  #menu-accordeon ul li:last-child {
     border-radius: 0 0 6px 6px;
     border:none;
  }
  #menu-accordeon li:hover li {
    max-height: 15em;
  }


/* Bas de page */

  footer{  
        padding: 0px;
        /* margin-top: 30px; */
        position: relative;;
        bottom: 0px;
        text-align: right;
        /*top:100px; 
        padding-left: 1000px;
         */
         /* margin-top: 380px;*/
         float: left; 
         width: 100%;
        height:55px; 
        background-color: #999; }


.ipe{
    background-color: aqua;
}

.qq{
    margin-top: 10px;
    margin-left: 200px;
    bottom: 500px;
    /* background-color: #729EBF; */


}

/* .q{
    margin-left: 40px;
    bottom:150px;
    width: 700px;
    height: 400px;
    display: inline-block;
    position: relative;
} */

.txt .t1{
    /* top: 200px; */
    float: middle;
    /* background-color: red; */
    margin-top: -120px;
    text-align: center;
    margin-left: 100px;


}
.t2{
    /* background-color: chartreuse; */
    margin-left: 230px;
    line-height: 30px;
}

/* .s{
  height: 10px;
} */

.form .s1{
  position: relative;
    margin-left: 200px;
    margin-top: 5px;
    /* top: 0px; */
    padding: 0px;
    margin-right: 200px;
    left: 0px;
    /* float: left; */
    /* background-color:   green; */
}
.form .s2{
    position: relative;
    margin-left: 200px;
    margin-right: 400px;
    margin-bottom: 50px;
    padding-right: 0px;
    /* margin-bottom: 500px; */
}

.pi{
  margin-top: 50px;
  top: 100px;
}

/* Partie formulaire */



/* Fin partie formulaire */





/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
  /* float: left; */
  /* margin-top: 50px; */
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.video{
  padding-left: 350px;
  }
  
/* **********************PAGE ACCUEIL****************************** */


.form{
  /* background-color: red; */
  height: 590px;
  width: 85% ;
  margin-left: 180px;
  /* float: left; */
}
.form .toff{
  margin: 0px;
  height: 610px;
  width: 1091px;
  float: left;
}
/* *************************************************** */

/* #####################""  LOGIN ############################ */
