{% include 'header.html' %}

        <div class="container">
            <div class="banner-header banner-lbook3 space-30">
                <img src='{{url_for("static",filename="assets/images/banner-blog.jpg")}}' alt="Banner-header">
                <div class="text">
                    <h3>À Propos</h3>
                    <p><a href="{{url_for('accueil')}}" title="Accueil">Accueil</a><i class="fa fa-caret-right"></i>À Propos</p>
                </div>
            </div>
        </div>
        <!-- End container -->
        <div class="page-about">
            <div class="container container-ver2 space-50 head-about">
                <div class="choose-us">
                    <div class="title-choose align-center about">
                        <!-- <h4>Welcome to Fresh Food</h4> -->
                        <h3>Bienvenue sur SenPoisson</h3>
                        <div class="align-center border-choose">
                            <div class="images">
                                <img src='{{url_for("static",filename="assets/images/bg-border-center.png")}}' alt="icon">
                            </div>
                            <!--End images-->
                        </div>
                        <!--End border-->
                    </div>
                </div>
                <!--End choose-us-->
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-responsive" src='{{url_for("static",filename="assets/images/about-head1.jpg")}}' alt="images">
                    </div>
                    <!--End col-md-6-->
                    <div class="col-md-6 pd-left-10">
                        <h3>A FRIENDLY ONLINE STORY</h3>
                        <p>Lorem ipsum dolor sit ameconsecteturadipiscingelit. Curabiturutiaculis arcu. Proin tincidunt, ipsum nec vehicula euismnequnibhpretiumlorem at ornare risus sem et risus.</p>
                        <p>Curabitur pulvinar dui viverra liberlobortis in dictum velit luctus. Donec imperdiet tincidunt interdum. Duultricies condimentum interdum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>
                        <div class="slider-about owl-carousel">
                            <div class="items">
                                <a href="#" title="post-item">
                                    <img src='{{url_for("static",filename="assets/images/about-blog-1.jpg")}}' alt="images">
                                </a>
                            </div>
                            <!--End items-->
                            <div class="items">
                                <a href="#" title="post-item">
                                    <img src='{{url_for("static",filename="assets/images/about-blog-1.jpg")}}' alt="images">
                                </a>
                            </div>
                            <!--End items-->
                            <div class="items">
                                <a href="#" title="post-item">
                                    <img src='{{url_for("static",filename="assets/images/about-blog-1.jpg")}}' alt="images">
                                </a>
                            </div>
                            <!--End items-->
                        </div>
                        <!--End slider-->
                    </div>
                    <!--End col-md-6-->
                </div>
                <!--End row-->
            </div>
            <!--End container-->
            <div class="about-choose center space-padding-tb-40 space-30">
                <div class="choose-us about-choose">
                    <div class="container container-ver2">
                        <div class="title-choose align-center">
                            <h3>Nos Activités</h3>
                            <div class="align-center border-choose">
                                <div class="images">
                                    <img src='{{url_for("static",filename="assets/images/bg-border-center.png")}}' alt="icon">
                                </div>
                                <!--End images-->
                            </div>
                            <!--End border-->
                        </div>
                        <!--End title-->
                        <div class="col-md-4 align-right">
                            <div class="items">
                                <div class="icon">
                                    <img src='{{url_for("static",filename="assets/images/icon-about1.png")}}' alt="icon">
                                </div>
                                <div class="text">
                                    <h3>Always Fresh</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                </div>
                            </div>
                            <!--End items-->
                            <div class="items">
                                <div class="icon">
                                    <img src='{{url_for("static",filename="assets/images/icon-about2.png")}}' alt="icon">
                                </div>
                                <div class="text">
                                    <h3>Keep You Healthy </h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                </div>
                            </div>
                            <!--End items-->
                            <div class="items">
                                <div class="icon">
                                    <img src='{{url_for("static",filename="assets/images/icon-about3.png")}}' alt="icon">
                                </div>
                                <div class="text">
                                    <h3>Healthy Cooking </h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                </div>
                            </div>
                            <!--End items-->
                        </div>
                        <!--End col-md-3-->
                        <div class="col-md-4">
                            <img class="img-responsive" src='{{url_for("static",filename="assets/images/images-choose1.jpg")}}' alt="banner">
                        </div>
                        <!--End col-md-6-->
                        <div class="col-md-4 align-left">
                            <div class="items">
                                <div class="icon">
                                    <img src='{{url_for("static",filename="assets/images/icon-about4.png")}}' alt="icon">
                                </div>
                                <div class="text">
                                    <h3>Always Fresh</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                </div>
                            </div>
                            <!--End items-->
                            <div class="items">
                                <div class="icon">
                                    <img src='{{url_for("static",filename="assets/images/icon-about5.png")}}' alt="icon">
                                </div>
                                <div class="text">
                                    <h3>Always Fresh</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                </div>
                            </div>
                            <!--End items-->
                            <div class="items">
                                <div class="icon">
                                    <img src='{{url_for("static",filename="assets/images/icon-about6.png")}}' alt="icon">
                                </div>
                                <div class="text">
                                    <h3>Always Fresh</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                </div>
                            </div>
                            <!--End items-->
                        </div>
                        <!--End col-md-3-->
                    </div>
                    <!--End container-->
                </div>
                <!--End choose-us-->
            </div>
            <!-- End about chose -->
            <div class="our-team">
                <div class="container container-ver2 center">
                    <div class="choose-us">
                        <div class="title-choose align-center about">
                            <!-- <h4>We Are Family</h4> -->
                            <h3>Notre Équipe</h3>
                            <div class="align-center border-choose">
                                <div class="images">
                                    <img src='{{url_for("static",filename="assets/images/bg-border-center.png")}}' alt="icon">
                                </div>
                                <!--End images-->
                            </div>
                            <!--End border-->
                        </div>
                    </div>
                    <!--End choose-us-->
                    <div class="row">
                        <div class="col-md-4 col-sm-4 space-30">
                            <div class="interactive-banner interactive-banner-v1 center">
                                <div class="interactive-banner-body">
                                    <img class="img-responsive" src='{{url_for("static",filename="assets/images/khadim.jpg")}}' alt="images">
                                </div> 
                            </div>                                                                           
                            <div class="banner-title">
                                <h3>Khadim GNINGUE</h3>
                                <p>Immersion dans le monde de l'informatique,je suis développeur Web/Mobile en même temps Data Scientist.
                                    Mon métier consiste à faire parler des données complexes et déstructurées.
                                    Ce travail a pour objectif de répondre aux problématiques de l’entreprise, d’orienter les décisions stratégiques et d’améliorer les services/produits.
                                </p><br>
                                <div class="interactive-banner-profile text-center">
                                    <div class="action light-style">
                                        <a href="https://twitter.com/Khadim_B_Gning" target="_blank"><i class="icons icons-bodered radius-x fa fa-twitter"></i></a>
                                        <a href="https://web.facebook.com/khadim.gningue.9"><i class="icons icons-bodered radius-x fa fa fa-facebook"></i></a>
                                        <a href="https://www.linkedin.com/in/khadim-gningue-971652152/" target="_blank"><i class="icons icons-bodered radius-x fa fa-linkedin"></i></a>
                                        <!-- <a href="#" target="_blank"><i class="icons icons-bodered radius-x fa fa-google-plus"></i></a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End col-md-4 -->
                        <div class="col-md-4 col-sm-4 space-30">
                            <div class="interactive-banner interactive-banner-v1 center">
                                <div class="interactive-banner-body">
                                    <img class="img-responsive" src='{{url_for("static",filename="assets/images/mamadou.jpg")}}' alt="images">
                                    
                                </div> 
                            </div>                                                                           
                            <div class="banner-title">
                                <h3>Mamadou SARR</h3>
                                <p>Richard McClintock, a Latin professor at words, consectetur, from a Lorem Ipsum passage, and  literature, discovered the</p>
                                <div class="interactive-banner-profile text-center">
                                    <div class="action light-style">
                                        <a href="#" target="_blank"><i class="icons icons-bodered radius-x fa fa-twitter"></i></a>
                                        <a href="https://web.facebook.com/mamadou.sarr.528" target="_blank"><i class="icons icons-bodered radius-x fa fa fa-facebook"></i></a>
                                        <a href="https://www.linkedin.com/in/mamadou-sarr-27012816a/" target="_blank"><i class="icons icons-bodered radius-x fa fa-linkedin"></i></a>
                                        <!-- <a href="#" target="_blank"><i class="icons icons-bodered radius-x fa fa-google-plus"></i></a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End col-md-4 -->
                        <div class="col-md-4 col-sm-4 space-30">
                            <div class="interactive-banner interactive-banner-v1 center">
                                <div class="interactive-banner-body">
                                    <img class="img-responsive" src='{{url_for("static",filename="assets/images/ndiaga.jpg")}}' alt="images">
                                </div> 
                            </div>                                                                           
                            <div class="banner-title">
                                <h3>Ndiaga GAYE</h3>
                                <p>Surnommé Beugue Bamba est un  développeur web/Mobile, je fais de la programmation back-end et front-end.
                                        Mon Travail est donc de créer des produits pour le web : cela peut aller d’une simple page vitrine à une application web ou mobile.
                                        Non Facebook:  Ndiaga Gaye </p><br><br><br>
                                <div class="interactive-banner-profile text-center">
                                    <div class="action light-style">
                                        <a href="#"><i class="icons icons-bodered radius-x fa fa-twitter" target="_blank"></i></a>
                                        <a href="https://web.facebook.com/ndiaga.gaye.10"><i class="icons icons-bodered radius-x fa fa fa-facebook" target="_blank"></i></a>
                                        <a href="https://www.linkedin.com/in/ndiaga-gaye-bbba96188" target="_blank"><i class="icons icons-bodered radius-x fa fa-linkedin"></i></a>
                                        <!-- <a href="#"><i class="icons icons-bodered radius-x fa fa-google-plus"></i></a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End col-md-4 -->
                    </div>
                    <!-- End row -->
                </div>
                <!-- End container-ver2 -->
            </div>
            <!-- End our team -->
        </div>
        <!-- End page-about -->
{% include 'footer.html' %}
