{% include 'header.html' %}

        <div class="container">
            <div class="banner-header banner-lbook3 space-40">
                <img src='{{url_for("static",filename="assets/images/banner-blog.jpg")}}' alt="Banner-header">
                <div class="text">
                    <h3>Tous produits</h3>
                    <p><a href="{{url_for('accueil')}}" title="Accueil">Accueil</a><i class="fa fa-caret-right"></i>Tous Produits</p>
                </div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div class="{{ category }} " role="alert">
                        <span>{{ message }}</span>
                        
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
            </div>
        </div>
      
        <!-- End wrap-breadcrumb -->
        <div class="container">
                <div class="title-text-v2">
                    <h3>Tous nos Produits</h3>
                </div>
                
                <div class="featured-products home_2 new-arrivals lastest">
                    <ul class="tabs tabs-title">
                        <!-- <li class="item" rel="tab_1">All Product</li>
                        <li class="item" rel="tab_2">Fruits</li>
                        <li class="item" rel="tab_3">Vegetables</li>
                        <li class="item" rel="tab_4">Nuts</li>
                        <li class="item" rel="tab_5">Other ProDucts</li> -->
                    </ul>
                    <div class="tab-container space-10">
                        <div id="tab_1" class="tab-content">
                            <div class="products hover-shadow ver2 border-space-product border-space-product">
                                {% for row in users%}
                                <div class="product">
                                    <div class="product-images">
                                        <a href="detail&{{row[3]}}" title="product-images">
                                            <!-- <img src="../static/images/{{row.0}}" width="120" height="120" alt="Photo"> <br> -->
                                            <img class="primary_image" src='../static/images/{{row.0}}' width="300" height="200" alt=""/>
                                            <!-- <img class="secondary_image" src='../static/images/{{row.0}}' alt=""/> -->
                                        </a>
                                        <div class="action">
                                            <a class="add-cart" href="detail&{{row[3]}}" title="Ajouter panier"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                    </div><br><br><br><br><br>
                                    <a href="#" title="nom produit"><p class="product-title">{{row.1}}</p></a>
                                    <p class="product-price-old">{{row.4}}</p>
                                    <p class="product-price">{{row.2}} FCFA</p>
                                    <a class="link-footer" href="detail&{{row[3]}}" title="Détails">Détails <i class="fa fa-long-arrow-right"></i></a>

                                </div>
                                {% endfor %}
                                <!-- End item -->
                                
                                <!-- End item -->
                            </div>
                            <!-- End product-tab-content products -->
                        </div>
                        <!-- End tab-content -->
                        <div id="tab_2" class="tab-content">
                            <div class="products hover-shadow ver2 border-space-product">
                               
                            </div>
                            <!-- End product-tab-content products -->
                        </div>
                        <!-- End tab-content -->
                        <div id="tab_3" class="tab-content">
                            <div class="products ver2 hover-shadow border-space-product">
                                
                            </div>
                            <!-- End product-tab-content products -->
                        </div>
                        <!-- End tab-content -->
                        <div id="tab_4" class="tab-content">
                            <div class="products ver2 hover-shadow border-space-product">
                                
                            </div>
                            <!-- End product-tab-content products -->
                        </div>
                        <!-- End tab-content -->
                        <div id="tab_5" class="tab-content">
                            <div class="products ver2 hover-shadow border-space-product">
                              
                                
                            </div>
                            <!-- End product-tab-content products -->
                        </div>
                        <!-- End tab-content -->
                    </div>
                </div>
                
            </div>
        <!-- end tab product all -->

<style>

.succes{
        color: rgb(170, 4, 120);
        }
.danger{
    color: red;
    font-size: 20px;
}
</style>
{% include 'footer.html' %}
<div>
        <pagination class="pagination-sm" total-items="10" items-per-page="10" max-size="10"></pagination>
            
</div>
