{% extends 'mycommande.html' %}

{% block content %}

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <div style="color: aliceblue">
                <p> {{commnonlivrer[0].10}} &nbsp; {{commnonlivrer[0].11}}</p>

            </div>
          <!-- <img src='{{url_for("static",filename="statics/dist/img/user2-160x160.jpg")}}' class="img-circle elevation-2" alt="User Image"> -->
       
        </div>
        <!-- {% for d in moi%} -->
        <div class="info">
            
              <!-- <a href="#" class="d-block">{{nom}}</a> -->
            
        </div>
        <!-- {%endfor %} -->
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          
          
          
          <li class="nav-item has-treeview">
            <a href="{{url_for('logout')}}" class="nav-link">
              <i class="fas fa-sign-out-alt"></i>
              <p>
                Déconnexion
              </p>
            </a>
            
          </li>
         
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
      

      
    </div>
    <!-- /.sidebar -->
  </aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Informations</h1>
            </div>
            <!--  -->
          </div>
        </div><!-- /.container-fluid -->
      </section>
  <!-- Content Wrapper. Contains page content -->

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        <div class="{{ category }} " role="alert">
            <span>{{ message }}</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endif %}
{% endwith %}

<div class="msg">{{ msggz }}</div>

<section class="content">
        <div class="container-fluid">
          <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Tableau des commandes non livrées</h3>
                  </div>
                  <div class="card-body table-responsive p-0">
                      <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>photo1</th>
                                <th>nom</th>
                                <th>prix unitaire</th>
                                <th>quantite</th>
                                <th>prix total</th>
                                <th>date de commande</th>
                                
                                                      
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in commnonlivrer%}
                            
                            <tr>
                                <td><img src="../static/images/{{row.2}}" width="120" height="120" alt="Photo"> </td>
                                <td>{{row.1}}</td>
                                <td>{{row.3}}</td>
                                <td>{{row.5}}</td>
                                <td>{{row.4}}</td>
                                <td>{{row.9}}</td>
                            </tr>
                        
                            {% endfor %}
                        </tbody>
                            
                            
                        </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>


  <style>
  
  .succes{
            color: rgb(170, 4, 120);
        }
  .danger{
            color: red;
        }

  </style>
{% endblock content %}