{% include 'header.html' %}

        <div class="container">
            <div class="banner-header banner-lbook3 space-30">
                <!-- <img src="assets/images/banner-blog.jpg" alt="Banner-header"> -->
                <div class="text">
                    <h3>Login/Register</h3>
                    <p><a href="#" title="Home">Home</a><i class="fa fa-caret-right"></i>Login/Register</p>
                </div>
            </div>
        </div>
        <!-- End banner -->
        <div class="container container-ver2">
            <div class="page-login box space-50">
                <div class="row">
                   
                    <!-- End col-md-6 -->
                    
                        <div class="register box space-50">
                            <h3>Créer un compte</h3>

                            <form action="{{ url_for('Inscription_clients') }}" method="post" autocomplete="off">
                                    <!-- <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input type="text" class="form-control" pattern=".*\S.*" name="prenom" placeholder="Mettez votre Prenom" required >
                                        
                                    </div> -->
                                    <div class="col-md-6">
                                        <div class="group box space-20">
                                            <label class="control-label" for="inputprenom">PRENOM *</label>
                                            <input class="form-control" pattern=".*\S.*" name="prenom" type="text" placeholder="Mettez votre prenom" id="inputnom" required>
                                        </div>
                                        <div class="group box">
                                            <label class="control-label" for="inputemail">NOM *</label>
                                            <input class="form-control" pattern=".*\S.*" name="nom" type="text" placeholder="Mettez votre nom" id="inputnom" required>
                                            <!-- <input class="form-control" type="text" placeholder="Password" id="inputpass">  -->
                                        </div>

                                    </div>           
                                    <div class="col-md-6">
                                            <div class="group box space-20">
                                                    <label class="control-label" for="inputemail">TELEPHONE *</label>
                                                    <input type="tel" class="form-control" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$"
                                                    name="telephone" placeholder="Mettez votre telephone" value="{{ telephone }}" >
                                                    <!-- <input class="form-control" type="text" placeholder="Your email" id="inputemail"> -->
                                                </div>
                                                <div class="group box">
                                                    <label class="control-label" for="inputemail">CONFIRMER TELEPHONE *</label>
                                                    <input type="tel" class="form-control" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$"
                                                    name="telephone2" placeholder="Confirmer votre telephone" value="{{ telephone2 }}">
                                                    <!-- <input class="form-control" type="text" placeholder="Password" id="inputpass">  -->
                                                </div>

                                    </div>
                                    <div class="col-md-6">
                                            <div class="group box space-20">
                                                    <label class="control-label" for="inputemail">EMAIL *</label>
                                                    <input type="text" class="form-control" pattern=".*\S.*" name="mail" placeholder="Mettez votre mail" required>
                                                    <!-- <input class="form-control" type="text" placeholder="Your email" id="inputemail"> -->
                                                </div>
                                                <div class="group box">
                                                    <label class="control-label" for="inputemail">ADRESSE *</label>
                                                    <input type="text" class="form-control" pattern=".*\S.*" name="adresse" placeholder="adresse" required>                                                
                                                    <!-- <input class="form-control" type="text" placeholder="Password" id="inputpass">  -->
                                                </div>
                                                
                                    </div>   
                                    <div class="col-md-6">
                                            <div class="group box space-20">
                                                <label class="control-label" for="inputemail">MOT DE PASSE *</label>
                                                <input id="myInput" type="password" class="form-control" name="password" placeholder="mot de passe" id="myInput" required>
                                                <!-- <div class="row align-items-center remember">
                                                    <input type="checkbox" name="check" value="remeber" onclick="myFunction()">
                                                    <label for="remeber" class="label-check">Afficher le mot de passe</label>
                                                </div>                                                   -->
                                            </div>
                                                <div class="group box">
                                                    <label class="control-label" for="inputemail">CONFIRMER MOT DE PASSE *</label>
                                                    <input type="password" class="form-control" name="password22" placeholder="Confirmer votre mot de passe" required>
                                                    
                                                    <!-- <input class="form-control" type="text" placeholder="Password" id="inputpass">  -->
                                                </div><br><br><br>
                                                
                                    </div> 
                                    <br><br>
                                    <div class="form-group">
                                        <p style="color: white; font-size: 80%;"> <a href="#myModal" data-toggle="modal" data-target="#myModal">En créant votre compte, vous indiquez que vous avez lu et accepté <br> nos conditions générales d'utilisation</a>.</p>
                                    </div>
                                    <!-- <input type="submit" value="valider" class="btn float-right login_btn" data-toggle="modal" data-target="#exampleModal">              -->
                                    <button type="submit" value="valider" class="link-v1 rt" data-toggle="modal" data-target="#exampleModal" >Créer compte</button>
                                </form><br><br>
                                <div>
                                    <p>Vous possédez déjà un compte ?</p>
                                    <a href="{{ url_for('login') }}" style="margin-left: 60px;">CONNECTEZ-VOUS</a>
                                </div>
                                
                        </div>
                        <!-- End register -->
                        
                    
                    <!-- End col-md-6 -->
                </div>
            </div>
        </div>


        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h6 class="modal-title" id="myModalLabel" style="text-align: center;">Conditions générales d’utilisation du site <br> Sen ndougou</h6>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <h6>
                        <!-- Conditions générales d’utilisation du site Africmode <br> -->
                        
                        Article 1: Objet <br>
                        Les présentes Conditions Générales d’Utilisation ou CGU encadrent juridiquement l’utilisation des services du site Sen ndougou (ci-après dénommé « Site Internet » ). <br>
                        Constituant le contrat entre la société Sen ndougou, l’Utilisateur, l’accès au site doit être précédé de l’acceptation de ces CGU. L’accès à cette plateforme signifie l’acceptation des présentes CGU. <br>
                        Article 2: Mentions légales <br>
                        L’édition du site Sen ndougou est assurée par la société Sen ndougou dont le siège social est localisé à l’École Police, Immeuble Scalène Mermoz lot B, Rue KA 05, Dakar . <br>
                        Article 3: Accès au site <br>
                        Le site Sen ndougou permet d’accéder gratuitement aux services suivants : <br>
                        *  Choisir des produits comme les légumes, les poissons, les poulets,...; <br>
                        * Commander certains des produits précités et payer après la livraison. <br>
                        Le site est accessible gratuitement depuis n’importe où par tout utilisateur disposant d’un accès à Internet. Tous les frais nécessaires pour l’accès aux services (matériel informatique, connexion Internet...) sont à la charge de l’utilisateur. L’accès aux services dédiés aux membres s’effectue à l’aide d’un identifiant et d’un mot de passe.
                        Pour des raisons de maintenance ou autres, l’accès au site peut être interrompu ou suspendu par l’éditeur sans préavis ni justification. <br>
                        Article 4: Collecte des données <br>
                        Pour la création du compte de l’Utilisateur, la collecte des informations au moment de l’inscription sur le site est nécessaire et obligatoire. Conformément à la loi sur la protection des données à caractère personnel lors de sa séance du vendredi 30 novembre 2007 adoptée par l’Assemblée nationale sénégalaise , aux fichiers et aux libertés, la collecte et le traitement d’informations personnelles s’effectuent dans le respect de la vie privée.
                        L’Utilisateur dispose du droit d’accéder, de rectifier, de supprimer et d’opposer ses données personnelles. L’exercice de ce droit s’effectue par : <br>
                        Le formulaire de contact; <br>
                        Son espace client. <br>
                        Article 5: Propriété intellectuelle <br>
                        Les marques, logos ainsi que les contenus du site Sen ndougou (illustrations graphiques, textes...) sont protégés par le Code de la propriété intellectuelle et par le droit d’auteur.<br>
                        La reproduction et la copie des contenus par l’Utilisateur requièrent une autorisation préalable du site. Dans ce cas, toute utilisation à des usages commerciaux ou à des fins publicitaires est proscrite. <br>
                        Article 6: Responsabilité <br>
                        Bien que les informations publiées sur le site soient réputées fiables, le site se réserve la faculté d’une non-garantie de la fiabilité des sources. <br>
                        Les informations diffusées sur le site Sen ndougou sont présentées à titre purement informatif et sont sans valeur contractuelle. En dépit des mises à jour régulières, la responsabilité du site ne peut être engagée en cas de modification des dispositions administratives et juridiques apparaissant après la publication. Il en est de même pour l’utilisation et l’interprétation des informations communiquées sur la plateforme. <br>
                        Le site décline toute responsabilité concernant les éventuels virus pouvant infecter le matériel informatique de l’Utilisateur après l’utilisation ou l’accès à ce site. <br>
                        Le site ne peut être tenu pour responsable en cas de force majeure ou du fait imprévisible et insurmontable d’un tiers. <br>
                        La garantie totale de la sécurité et la confidentialité des données n’est pas assurée par le site.
                        Cependant, le site s’engage à mettre en œuvre toutes les méthodes requises pour le faire au mieux.<br>
                        Article 7: Liens hypertextes<br>
                        Le site peut être constitué de liens hypertextes. En cliquant sur ces derniers, l’Utilisateur sortira de la plateforme. Cette dernière n’a pas de contrôle et ne peut pas être tenue responsable du contenu des pages web relatives à ces liens. <br>
                        Article 8: Cookies <br>
                        Lors des visites sur le site, l’installation automatique d’un cookie sur le logiciel de navigation de l’Utilisateur peut survenir. <br>
                        Les cookies correspondent à de petits fichiers déposés temporairement sur le disque dur de l’ordinateur de l’Utilisateur. Ces cookies sont nécessaires pour assurer l’accessibilité et la navigation sur le site. Ces fichiers ne comportent pas d’informations personnelles et ne peuvent pas être utilisés pour l’identification d’une personne. <br>
                        L’information présente dans les cookies est utilisée pour améliorer les performances de navigation sur le site sendougou.com. <br>
                        En naviguant sur le site, l’Utilisateur accepte les cookies. Leur désactivation peut s’effectuer via les paramètres du logiciel de navigation. <br>
                        Article 9: Publication par l’Utilisateur <br>
                        Le site sen ndougou peut permettre aux membres de publier des informations. <br>
                        Dans ses publications, le membre est tenu de respecter les règles de la Netiquette ainsi que les règles de droit en vigueur. <br>
                        Le site dispose du droit d’exercer une modération à priori sur les publications et peut refuser leur mise en ligne sans avoir à fournir de justification. <br>
                        Le membre garde l’intégralité de ses droits de propriété intellectuelle. Toutefois, toute publication sur le site implique la délégation du droit non exclusif et gratuit à la société éditrice de représenter, reproduire, modifier, adapter, distribuer et diffuser la publication n’importe où et sur n’importe quel support pour la durée de la propriété intellectuelle. Cela peut se faire directement ou par l’intermédiaire d’un tiers autorisé. Cela concerne notamment le droit d’utilisation de la publication sur le web et sur les réseaux de téléphonie mobile. À chaque utilisation, l’éditeur s’engage à mentionner le nom du membre à proximité de la publication. <br>
                        L’Utilisateur est tenu responsable de tout contenu qu’il met en ligne. L’Utilisateur s’engage à ne pas publier de contenus susceptibles de porter atteinte aux intérêts de tierces personnes. Toutes procédures engagées en justice par un tiers lésé à l’encontre du site devront être prises en charge par l’Utilisateur. <br>
                        La suppression ou la modification par le site du contenu de l’Utilisateur peut s’effectuer à tout moment, pour n’importe quelle raison et sans préavis. <br>
                        Article 11: Durée du contrat <br>
                        Le présent contrat est valable pour une durée indéterminée. Le début de l’utilisation des services du site marque l’application du contrat à l’égard de l’Utilisateur. <br>
                        Article 12: Droit applicable et juridiction compétente <br>
                        Le présent contrat est soumis à la législation sénégalaise. L’absence de résolution à l’amiable des cas de litige entre les parties implique le recours aux tribunaux sénégalais compétents pour régler le contentieux. <br>

                    </h6>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>







        <style>
                .danger {
                    color: red
                        }
                
                .dangerrr {
                    color: red
                        }
                .card {
                    height: 600px;
                }
                .form-group{
                    padding-left: 0px;
                }
                
        </style>

<script>
        function myFunction() {
            var x1 = document.getElementById("myInput");
            var x2 = document.getElementById("Input");
            if (x1.type === "password" && x2.type === "password") {
            x1.type = "text";
            x2.type = "text";
            } else {
            x1.type = "password";
            x2.type = "password";
            }
        }
    
        
    </script>
    
        {% include 'footer.html' %}
