{% include 'header.html' %}



        <div class="container">
            <div class="banner-header banner-lbook3 space-30">
                <img src='{{url_for("static",filename="assets/images/banner-blog.jpg")}}' alt="Banner-header">
                <div class="text">
                    <h3>Details Produit</h3>
                    <p><a href="#" title="Accueil">Accueil</a><i class="fa fa-caret-right"></i>Détails Produit</p>
                </div>
            </div>
        </div>
        <!-- End container -->
        
        <div class="blog-post-container blog-page blog-list-width">
            <div class="container container-ver2">
                {% for row in dieun %}
                <div class="row">
                    <div class="blog-post-item left">
                        <div class="blog-post-image hover-images">
                            <a href="#" title="Post"><img src="../static/images/{{row.1}}"  width="200" height="300" alt=""></a>
                        </div>  
                        <div class="textss">                          
                            <h3><a href="#"  title="nom.">Nom: {{row.2}}</a></h3><p></p><p></p><p></p>
                            <h3><a href="#" class="tt" title="nom.">Prix: {{row.3}} FCFA</a></h3>
                            <p class="content"></p>
                            <!-- <a class="link-v1 color-brand" href="acheter&{{row[0]}}" title="Acheter Produit">Ajouter au panier</a> -->
                            
                            <a data-toggle="modal" href="#myModal" class="link-v1 color-brand">Ajouter au panier</a>

                            <div class="modal fade" id="myModal" >
                                <div class="modal-dialog" style="width:80%;">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">VOTRE PANIER</h4>
                                        </div>
                                        {% with messages = get_flashed_messages(with_categories=true) %}
                                        {% if messages %}
                                        {% for category, message in messages %}
                                        <div class="{{ category }} " role="alert">
                                            <span>{{ message }}</span>
                                            
                                        </div>
                                        {% endfor %}
                                        {% endif %}
                                        {% endwith %}
                                        <div class="modal-body">
                                                    <h2>panier</h2>
                                            Votre produit choisi :
                                            
                                            <select id="products">
                                                <option value="{{row.3}}">{{row.2}}</option>
                                            </select>
                                            <input type="hidden" id="phottId" value="{{row.1}}">
                                            
                                            
                                            Quantité
                                            <input type="number" id="qty" size="3" name="quantity" min="1" max="1000"/> Kg
                                            <p></p>
                                            <button value="" id="btnAdd" onclick="addToCart()">Ajouter maintenant</button>

                                            <p></p>
                                            <div class="container container-ver2">
                                                <div class="box cart-container">
                                                <table id="cart" border="1" class="table cart-table space-30" style="visibility:hidden; width:80%">
                                                    <thead>
                                                        <tr>
                                                            <th>PRODUITS</th>
                                                            <th>NOM</th>
                                                            <th>PRIX</th>
                                                            <th>QUANTITE</th>
                                                            <th>TOTAL</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="cartBody">

                                                    </tbody>
                                                </table>

                                                </div>
                                            </div>
                                            <div class="float-left">
                                                <a class="link-v1 lh-50 margin-right-20 space-20 bg-brand" href="{{url_for('accueil')}}" title="CLEAR SHOPPING CART">CONTINUER ACHAT</a>
                                            </div>
                                            <div class="float-right">
                                                
                                                    <!-- <input id="clickMe" type="button" value="clickme" /> -->
                                                <a class="link-v1 lh-50 margin-right-20 space-20 bg-brand" id="clickMe" href="{{url_for('getpanier')}}" title="CLEAR SHOPPING CART">TERMINER ACHAT</a>
                                            </div>

                                        </div>
                                        
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                             </div><!-- /.modal -->
                                        

                        </div>
                        <!-- End text -->
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
            <!-- End container -->  
  
            <!-- End blog -->
   <div class="container container-ver2">
        <div class="title-text-v2">
            <h3>Nos autres produits</h3>
        </div>
        <div class="featured-products">
            <ul class="tabs tabs-title">
                <!-- <li class="item" rel="tab_01">NEW ARRIVALS</li>
                <li class="item" rel="tab_02">BEST SELLER</li>
                <li class="item" rel="tab_03">TOP RATED</li> -->
            </ul>
            <div class="tab-container space-50">
                <div id="tab_01" class="tab-content">
                    <div class="products">
                            {% for row in users%}

                            <div class="product">
                                <div class="product-images">
                                    <a href="detail&{{row[0]}}" title="product-images">
                                        <!-- <img src="../static/images/{{row.0}}" width="120" height="120" alt="Photo"> <br> -->
                                        <img class="primary_image" src='../static/images/{{row.1}}' width="300" height="200" alt=""/>
                                        <!-- <img class="secondary_image" src='../static/images/{{row.0}}' alt=""/> -->
                                    </a>
                                    <div class="action">
                                        <a class="add-cart" href="detail&{{row[0]}}" title="Ajouter panier"></a>
                                        <a class="wish" href="#" title="Wishlist"></a>
                                        <a class="zoom" href="#" title="Quick view"></a>
                                    </div>
                                    <!-- End action -->
                                </div><br><br><br><br><br>
                                <a href="#" title="nom produit"><p class="product-title">{{row.2}}</p></a>
                                <p class="product-price-old">{{row.4}}</p>
                                <p class="product-price">{{row.3}} FCFA</p>
                                <a class="link-footer" href="detail&{{row[0]}}" title="Détails">Détails <i class="fa fa-long-arrow-right"></i></a>

                            </div>

                        {% endfor %}
                        
                    </div>
                    <!-- End product-tab-content products -->
                    
                </div>
                
            </div>
            
            <!-- End viewall -->
        </div>
        <!-- End product-tab-content products -->
        
        <!-- End pagination-container -->
    </div>

    <div class="pages">
        {{ pagination.links }}
    </div>
    <div>
        <pagination class="pagination-sm" total-items="10" items-per-page="10" max-size="10"></pagination>                      
    </div>

<style>
.textss{
    margin-left: 450px;
}
.color-brand{
    margin-top: 150px;
}

.pages{
padding-left: 550px;
/* padding-top: 500px; */
}
.succes{
        color: rgb(170, 4, 120);
        }
.danger{
    color: red;
}

/*#classModal{}*/

.modal-body {
  overflow-x: auto;
}


</style>


<!-- //CETTE PARTIE RENVOYER LES VALEURS SELECTIONNÉES AU FICHIER .py POUR L'INSERER DANS LA BASE DE DONNÉES AVEC ID UTILISATEUR: -->
<script>
// $('#classModal').modal('show')
document.getElementById("clickMe").onclick = function () {
     
     var table = document.getElementById('cart');
     var lister = [];
    //  alert(table)

// *********
if ($('#cartBody tr').length == 0) {
    alert("Votre panier est vide, merci de remplire avant de terminer votre achat.")
    return false;
}
else{

    for (var i = 1; i < table.rows.length; i++) {
        if (table.rows[i].cells.length) {
        //   var photo = (table.rows[i].cells[0].textContent.trim());
          var produit = (table.rows[i].cells[1].textContent.trim());
          var prix = (table.rows[i].cells[2].textContent.trim());
          var qty = (table.rows[i].cells[3].textContent.trim());
          var total = (table.rows[i].cells[4].textContent.trim());
        //   var string1 = photo + produit + prix + qty + total;
          var string1 = {val2:produit , val3:prix , val4:qty , val5:total};
        
          lister.push(string1)
           
        }}}
        console.log(lister)
        sendFormData = JSON.stringify(lister);
        
        $.ajax({
        url: "{{ url_for('getpanier') }}",
        data: sendFormData,
        contentType:'application/json',
        type: 'POST',      
                
        success: function(data) {
            console.log(data);
        },
            error: function(error) {
                    console.log("error");
                }
        });







    //  *******
     if (localStorage.length > 0){
         localStorage.clear();
     }; 
         
     };

</script>
{% include 'footer.html' %}
