<footer id="footer" class="footer-v3 align-left">
    <div class="container container-ver2">
        <div class="footer-inner">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <h3 class="title-footer">Qui sommes nous?</h3>
                    <a class="link-footer" href="#" title="footer">plus d'informations <i class="fa fa-long-arrow-right"></i></a>
                </div>
                
                <div class="col-md-3 col-sm-6">
                    <h3 class="title-footer">Réseaux sociaux</h3>
                    <div class="social space-30">
                        <a href="#" title="t"><i class="fa fa-twitter"></i></a>
                        <a href="#" title="f"><i class="fa fa-facebook"></i></a>
                        <a href="#" title="y"><i class="fa fa-youtube-play"></i></a>
                        <a href="#" title="g"><i class="fa fa-google"></i></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <h3 class="title-footer">Contact</h3>
                    <!-- <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
                    <div class="subscribe">
                        <form action="#" method="get" accept-charset="utf-8">
                            <input type="text" onblur="if (this.value == '') {this.value = 'Enter Your Email Address';}" onfocus="if(this.value != '') {this.value = '';}" value="Enter Your Email Address" class="input-text required-entry validate-email" title="Sign up for our newsletter" id="newsletter" name="email">
                            <button class="button button1 hover-white" title="Subscribe" type="submit">Subscribe<i class="fa fa-long-arrow-right"></i></button>
                        </form>
                    </div> -->
                    <!-- End subscribe -->
                </div>
            </div>
            <!-- End row -->
        </div>
        <!-- End footer-inner -->
    </div>
    <!-- End container -->
    <div class="footer-bottom box">
        <div class="container container-ver2">
            <div class="box bottom">
                <p class="float-left">Copyright &copy;2020 SEN-POISSON - All Rights Reserved.</p>
                <div class="float-right">
                    <ul class="menu-bottom-footer">
                        <li><a href="#" title="Contact Us">Contact Us</a></li>
                        <!-- <li><a href="#" title="Term of Use">Term of Use</a></li>
                        <li><a href="#" title="Privacy Policy">Privacy Policy</a></li> -->
                        <li><a href="#" title="Site Map">Site Map</a></li>
                    </ul>
                    
                    <!-- End language -->
                </div>
            </div>
        </div>
        <!-- End container -->
    </div>
</footer>
        </div>
        </div>
    <!-- End wrappage -->
    <script type="text/javascript" src='{{url_for("static",filename="assets/js/bootstrap.min.js")}}'></script>
    <script type="text/javascript" src='{{url_for("static",filename="assets/js/owl.carousel.min.js")}}'></script>
    <script type="text/javascript" src='{{url_for("static",filename="assets/js/engo-plugins.js")}}'></script>
    
    <script type="text/javascript" src='{{url_for("static",filename="assets/js/jquery.mousewheel.min.js")}}'></script>
    <script type="text/javascript" src='{{url_for("static",filename="assets/js/slick.min.js")}}'></script>
    <script type="text/javascript" src='{{url_for("static",filename="assets/js/jquery.zoom.js")}}'></script>
    <script type="text/javascript" src='{{url_for("static",filename="assets/js/store.js")}}'></script>

    <!-- panier -->

    <script type='text/javascript' src='{{url_for("static",filename="js/jquery.mycart.js")}}'></script>
    <script type='text/javascript' src='{{url_for("static",filename="panier.js")}}'></script>
        
    </body>
        
</html>

