{% include 'header.html' %}

            <div class="tp-banner-container hidden-dot ver1">
            <div class="tp-banner" >
                <ul>    <!-- SLIDE  -->
                    <!-- SLIDE  -->
                    <li data-transition="random" data-slotamount="6" data-masterspeed="1000" >
                        <!-- MAIN IMAGE -->
                        <img src='{{url_for("static",filename="assets/images/home1-slideshow1.jpg")}}'  alt="Futurelife-home2-slideshow"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        
                        <!-- LAYER NR. 9 -->
                        <div class="tp-caption color-ea8800 customin randomrotateout font-ro tp-resizeme size-130 weight-300 uppercase"
                            data-x="585"
                            data-y="245"
                            data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                            data-speed="500"
                            data-start="2000"
                            data-easing="Power4.easeOut"
                            data-splitin="chars"
                            data-splitout="none"
                            data-elementdelay="0.1"
                            data-endelementdelay="0.1"
                            style="z-index: 3">Fresh Food
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption color-2b2b2b font-ros weight-400 skewfromleft customout size-20 letter-spacing-2"
                            data-x="505"
                            data-y="403"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="800"
                            data-start="1600"
                            data-easing="Power4.easeOut"
                            data-endspeed="300"
                            data-endeasing="Power1.easeIn"
                            data-captionhidden="on"
                            style="z-index: 4">We Deliver Organic Fruits And Vegetables Fresh From Our Fields To Your Home
                        </div>

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption skewfromleft customout font-roc link-1 bg-brand color-white height-40 size-16"
                            data-x="865"
                            data-y="460"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="800"
                            data-start="1500"
                            data-easing="Power4.easeOut"
                            data-endspeed="300"
                            data-endeasing="Power1.easeIn"
                            data-captionhidden="on"
                            style="z-index: 5"><a href="#" title="View Shop" class="">View Details</a>
                        </div>
                        <!-- LAYER NR. 8s -->
                    </li>
                    <!-- SLIDER -->
                    <!-- SLIDE  -->
                    <li data-transition="random" data-slotamount="6" data-masterspeed="1000" >
                        <!-- MAIN IMAGE -->
                        <img src='{{url_for("static",filename="assets/images/home1-slideshow1.jpg")}}'  alt="Futurelife-home2-slideshow"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                        <!-- LAYER NR. 9 -->
                        <div class="tp-caption color-white customin randomrotateout font-ros tp-resizeme size-60 text-shadow"
                             data-x="650"
                             data-y="305"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="500"
                             data-start="2000"
                             data-easing="Power4.easeOut"
                             data-splitin="chars"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             style="z-index: 3">Fresh Organic Food
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption color-white font-ros weight-300 skewfromleft customout size-20 letter-spacing-2 text-shadow"
                             data-x="505"
                             data-y="390"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="800"
                             data-start="1600"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">We Deliver Organic Fruits And Vegetables Fresh From Our Fields To Your Home
                        </div>

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption skewfromleft customout border-white font-roc link-1 height-40 size-16"
                             data-x="865"
                             data-y="460"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="800"
                             data-start="1500"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="on"
                             style="z-index: 5"><a href="#" title="View Shop" class="">View Details</a>
                        </div>
                        <!-- LAYER NR. 8s -->
                    </li>
                    <!-- SLIDER -->
                </ul>
                <div class="tp-bannertimer"></div>
            </div>
        </div>
        <!-- End container -->
            
            <!-- End Shiping version2  -->
            <div class="container">
                <div class="title-text-v2">
                    <h3>Nos Produits</h3>
                </div>
                <div class="featured-products home_2 new-arrivals lastest">
                    <ul class="tabs tabs-title">
                        
                    </ul>
                    <div class="tab-container space-10">
                        <div id="tab_1" class="tab-content">
                            <div class="products hover-shadow ver2 border-space-product border-space-product">
                                {% for row in users%}
                                <div class="product">
                                    <div class="product-images">
                                        <a href="detail&{{row[3]}}" title="product-images">
                                            <!-- <img src="../static/images/{{row.0}}" width="120" height="120" alt="Photo"> <br> -->
                                            <img class="primary_image" src='../static/images/{{row.0}}' width="300" height="200" alt=""/>
                                            <!-- <img class="secondary_image" src='../static/images/{{row.0}}' alt=""/> -->
                                        </a>
                                        <div class="action">
                                            <a class="add-cart" href="detail&{{row[3]}}" title="Ajouter panier"></a>
                                            <a class="wish" href="#" title="Wishlist"></a>
                                            <a class="zoom" href="#" title="Quick view"></a>
                                        </div>
                                        <!-- End action -->
                                    </div><br><br><br><br><br>
                                    <a href="#" title="nom produit"><p class="product-title">{{row.1}}</p></a>
                                    <p class="product-price-old">{{row.4}}</p>
                                    <p class="product-price">{{row.2}} FCFA</p>
                                    <a class="link-footer" href="detail&{{row[3]}}" title="Détails">Détails <i class="fa fa-long-arrow-right"></i></a>

                                </div>
                                {% endfor %}
                                <!-- End item -->
                                
                                <!-- End item -->
                            </div>
                            <!-- End product-tab-content products -->
                        </div>
                        <!-- End tab-content -->
                        <div id="tab_2" class="tab-content">
                            <div class="products hover-shadow ver2 border-space-product">
                               
                            </div>
                            <!-- End product-tab-content products -->
                        </div>
                        <!-- End tab-content -->
                        <div id="tab_3" class="tab-content">
                            <div class="products ver2 hover-shadow border-space-product">
                                
                            </div>
                            <!-- End product-tab-content products -->
                        </div>
                        <!-- End tab-content -->
                        <div id="tab_4" class="tab-content">
                            <div class="products ver2 hover-shadow border-space-product">
                                
                            </div>
                            <!-- End product-tab-content products -->
                        </div>
                        <!-- End tab-content -->
                        <div id="tab_5" class="tab-content">
                            <div class="products ver2 hover-shadow border-space-product">
                              
                                
                            </div>
                            <!-- End product-tab-content products -->
                        </div>
                        <!-- End tab-content -->
                    </div>
                </div>
                
            </div>
            <!-- End container-ver2 -->
            <!--End bg-slider-->
    <div id="back-to-top">
            <i class="fa fa-long-arrow-up"></i>
        </div>
        <div class="pages">
            {{ pagination.links }}
        </div>
        <footer id="footer" class="footer-v3 align-left">
            <div class="container container-ver2">
                <div class="footer-inner">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <h3 class="title-footer">Qui sommes nous?</h3>
                            <a class="link-footer" href="#" title="footer">plus d'informations <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        
                        <div class="col-md-3 col-sm-6">
                            <h3 class="title-footer">Réseaux sociaux</h3>
                            <div class="social space-30">
                                <a href="#" title="t"><i class="fa fa-twitter"></i></a>
                                <a href="#" title="f"><i class="fa fa-facebook"></i></a>
                                <a href="#" title="y"><i class="fa fa-youtube-play"></i></a>
                                <a href="#" title="g"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <h3 class="title-footer">Contact</h3>
                            <!-- <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
                            <div class="subscribe">
                                <form action="#" method="get" accept-charset="utf-8">
                                    <input type="text" onblur="if (this.value == '') {this.value = 'Enter Your Email Address';}" onfocus="if(this.value != '') {this.value = '';}" value="Enter Your Email Address" class="input-text required-entry validate-email" title="Sign up for our newsletter" id="newsletter" name="email">
                                    <button class="button button1 hover-white" title="Subscribe" type="submit">Subscribe<i class="fa fa-long-arrow-right"></i></button>
                                </form>
                            </div> -->
                            <!-- End subscribe -->
                        </div>
                    </div>
                    <!-- End row -->
                </div>
                <!-- End footer-inner -->
            </div>
            <!-- End container -->
            <div class="footer-bottom box">
                <div class="container container-ver2">
                    <div class="box bottom">
                        <p class="float-left">Copyright &copy;2020 SEN-POISSON - All Rights Reserved.</p>
                        <div class="float-right">
                            <ul class="menu-bottom-footer">
                                <li><a href="#" title="Contact Us">Contact Us</a></li>
                                <!-- <li><a href="#" title="Term of Use">Term of Use</a></li>
                                <li><a href="#" title="Privacy Policy">Privacy Policy</a></li> -->
                                <li><a href="#" title="Site Map">Site Map</a></li>
                            </ul>
                            
                            <!-- End language -->
                        </div>
                    </div>
                </div>
                <!-- End container -->
            </div>
            
            <div>
                <pagination class="pagination-sm" total-items="10" items-per-page="10" max-size="10"></pagination>
                        
                </div>
        </footer>
        
    </div>
    <!-- End wrappage -->
    <script type="text/javascript" src='{{url_for("static",filename="assets/js/bootstrap.min.js")}}'></script>
    <script type="text/javascript" src='{{url_for("static",filename="assets/js/owl.carousel.min.js")}}'></script>
    <script type="text/javascript" src='{{url_for("static",filename="assets/js/jquery.themepunch.revolution.min.js")}}'></script>
    <script type="text/javascript" src='{{url_for("static",filename="assets/js/jquery.themepunch.plugins.min.js")}}'></script>
    <script type="text/javascript" src='{{url_for("static",filename="assets/js/engo-plugins.js")}}'></script>
    <script type="text/javascript" src='{{url_for("static",filename="assets/js/slick.min.js")}}'></script>
    <script type="text/javascript" src='{{url_for("static",filename="assets/js/store.js")}}'></script>
    
    <style>
        .pages{
            padding-left: 550px;
            /* padding-top: 500px; */
        }
    </style>
    </body>
    </html>