{% extends 'admingeneral.html' %}

{% block content %}

<section class="content">
    <div class="container-fluid">
      <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                    <div class="yes">
                        <a href="{{ url_for('ajoutprod') }}" class="btn btn-outline-primary" role="button" title="Ajouter">Ajouter produits</a>
                    </div>
                <h3 class="card-title">Tableau de validation</h3>
              </div>
              <div class="card-body table-responsive p-0">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          
                            <th>id</th>
                            <th>nom</th>
                            <th>photo</th>
                            <th>prix unitaire</th>
                            
                                                  
                        </tr>
                      </thead>
                      <tbody>
                        {% for row in prods%}
                        <tr>
                            <td>{{row.0}}</td>
                            <td>{{row.2}}</td>
                            <td><img src="../static/images/{{row.1}}" width="120" height="120" alt="Photo"> </td>                            
                            <td>{{row.3}}</td>
                            <td><a href="/valider/{{row.0}}" class="btn btn-primary">Modifier</a></td>
                            <td> <a href="/supprimer/{{row.0}}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer?');">Supprimer</a></td>
                            
                            <!-- <td><a href="/supprim/{{row.0}}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer?');">Supprimer</a></td> -->
                        </tr>
                
                        {% endfor %}
                      </tbody>
                        
                    </table>
                    
                    </div>
            </div>
        </div>
    </div>
</section>

<style>
        .yes{
            margin-left: 850px;
        }
</style>
{% endblock content %}