{% extends 'admingeneral.html' %}

{% block content %}


{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        <div class="{{ category }} " role="alert">
            <span>{{ message }}</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endif %}
{% endwith %}

<div class="msg">{{ msggz }}</div>

<section class="content">
        <div class="container-fluid">
          <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Tableau de validation</h3>
                  </div>
                  <div class="card-body table-responsive p-0">
                      <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Photo</th>
                                <th>produit</th>
                                <th>pu</th>
                                <th>qty</th>
                                <th>pt</th>
                                <th>nom client</th>
                                <th>phone</th>
                                <th>adresse</th>
                                <th>region</th>
                                <th>appeller</th>
                                <th>livrer</th>
                                                      
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in new_commandes%}
                            
                            <tr>
                                <td><img src="../static/images/{{row.1}}" width="50" height="90" alt="Photo"> </td>
                                <td>{{row.2}}</td>
                                <td>{{row.3}}</td>
                                <td>{{row.4}}</td>
                                <td>{{row.7}}</td>
                                <td>{{row.10}} &nbsp;{{row.11}}</td>
                                <td>{{row.5}}</td>
                                <td>{{row.6}}</td>
                                <td>{{row.12}}</td>
                                <td>{{row.8}}</td>
                                <td>{{row.9}}</td>
                                <td><a href="/appel/{{row.0}}" class="btn btn-primary"  onclick="return confirm('Est ce que vous avez déja appeller?');">appeller</a></td>
                                <td> <a href="/livr/{{row.0}}" class="btn btn-danger" onclick="return confirm('Est ce que vous avez déja livré?');">livrer</a></td>
                            </tr>
                        
                            {% endfor %}
                        </tbody>
                            
                            
                        </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <style>
                .succes{
                  color: green;
                }
                .danger{
                    color: rgb(241, 27, 12);
                }
            </style>

{% endblock content %}