{% include 'header.html' %}


<div class="vide">

        <h1>Nous sommes désolés, le produit cherché n'existe pas encore dans notre base de données.</h1>
        <h1>Merci de nous le suggerer au mail: </h1>
        <h1><p class="mail"> senpoisson@gmail.com</p></h1>
        

</div>

<style>
    .vide{
        padding-top: 150px;
        padding-left: 250px;
    }
    .mail{
        color: rgb(56, 240, 10);
        padding-left: 370px;
    }
</style>
{% include 'footer.html' %}


